body{
  background-color: white;
  color: black;
  padding: 10px;
  margin: 0;
  width: 2000px;
  height: 2500px;
}
.list{
  display: grid;
  grid-template-columns: repeat(2,250px);
}
.desc{
  width: 1550px;
  position: relative;
  top: 50px;
}
h5{
  font-weight: 400;
}